body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#inputForm {
    display: flex;
    padding: 1em;
    background: #fafafa;
}

#messageInput {
    flex: 1;
    padding: 0.5em;
    margin-right: 0.5em;
}

#sendMessage {
    padding: 0.5em 1em;
    cursor: pointer;
}

#messages {
    list-style: none;
    margin: 1em;
    padding: 0;
}

#messages li {
    background: #f1f1f1;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border-radius: 4px;
}